.step-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4px;
    padding-bottom: 2%;
}

.step-item {

    border: lightgray 1px solid;
    margin-left: 4%;
    max-width: 23%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    padding-bottom: 1%;

}

.step-item h5 {
    font-weight: 600;
    text-transform: uppercase;

}

.step-item h6 {
    text-align: center;
    margin-top: 2%;
    opacity: 0.87;

}
.title-step{
    text-align: center;
    font-size: 1.8em;
    opacity: 0.87;
    padding-bottom: 1%;


}

.step-description-item {
    margin-top: 4%;
    opacity: 0.87;
}
.text-description{
    padding-bottom: 1%;
    padding-left: 4%;
    text-align: start;
    font-size: 1.1em;
}
.ul-text{
    text-align: start;
    font-size: 1.1em;
    list-style-type: square;
    color: #906E7F;

}

.ul-text li span{
    color: black;
    opacity: 0.87;

}
