.body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-list {

    margin-left: 0px;
    margin-right: 0px;
}

.card-title {

    font-size: 0.988em;
    text-transform: uppercase;
    font-weight: 600;
}

.link-container {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4%;

}

.card-item {

    min-width: 17%;
    height: 25%;
    margin-right: 10.5%;
    border: lightgrey solid 1px;
    padding-bottom: 2%;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 2%;

}

.card-item:hover {

    opacity: 0.87;
    color: #906E7F;
    background: rgba(0, 0, 0, 0.14);
}

.material-shadow {

    -webkit-box-shadow: 1.5px 1.5px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1.5px 1.5px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 1.5px 1.5px 15px -5px rgba(0, 0, 0, 0.75);
}

.pointer {

    cursor: pointer;
}

.card-title {

    margin-top: 3%;
}

.card-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {

    text-decoration: none;
}

a:hover {

    text-decoration: none;
}

.contact-badge {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 12%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0.8);
}

.contact-badge label {

    display: flex;
    flex-direction: row;

}

.contact-badge label span {
    opacity: 0.96;

}

.dropdown-menu > li > a {

    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 600;
    text-align: left;
}
