.body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
Bedge
 */
.contact-badge-desktop {
    padding: 0px;
    text-align: left;
    padding-right: 20px;
    background: rgb(57, 134, 140);
    border-radius: 22px;
    margin-left: -2%;
    margin-top:1px;
    margin-bottom: -1px;
}

.map-site {

    width:100%;
    border:lightgrey solid 1px;
}


.input-form-desktop {

    padding: 20px;
}

.recapiti-box {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10px;

}


.recapiti-item span {

    font-size: 0.98em;
}
.recapiti-box > div {

    width: 50%;
}



.label-form-desktop {

    text-align: left!important;
    padding-left: 33px;
}

    .circle-icon {

        color: #42BBC1;
    }

    .badge-icon {

        color: #906E7F;
        font-size:1em;
        font-weight: 900!important;
    }



/*
Servizi
 */
.padding-img-service{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px
}


.card-list {

    margin-left: 0px;
    margin-right: 0px;
}

.card-title {

    font-size: 0.988em;
    text-transform: uppercase;
    font-weight: 600;
}

.link-container {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4%;

}

.card-item {

    min-width: 17%;
    height: 25%;
    margin-right: 10.5%;
    border: lightgrey solid 1px;
    padding-bottom: 2%;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 2%;

}

.card-item:hover {

    opacity: 0.87;
    color: #906E7F;
    background: rgba(0, 0, 0, 0.14);
}

.material-shadow {

    -webkit-box-shadow: 1.5px 1.5px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1.5px 1.5px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 1.5px 1.5px 15px -5px rgba(0, 0, 0, 0.75);
}

.card {

    margin-left: 4%;
   margin-top: 4%;
    border-top-left-radius: 10%;
}
.pointer {

    cursor: pointer;
}

.card-title {

    margin-top: 3%;
}

.card-container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {

    text-decoration: none;
}

a:hover {

    text-decoration: none;
}

.text-center {

    font-weight: 700;
    color: white;
}

.btn-outline-none:focus {

    outline: none;
}

.portfolio-thumbnail {

    background: rgb(57, 134, 140);
}

.contact-badge {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0.8);
}

.contact-badge label {

    display: flex;
    flex-direction: row;

}

.contact-badge label span {
    opacity: 0.96;

}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}


/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
    box-shadow: 0 10px 6px -6px #777;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.effect2:after
{
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.dropdown-menu > li > a {

    text-transform: uppercase;
    font-size: 0.88em;
    font-weight: 600;
    text-align: left;
}

.memu-item-icon-dp {

    font-size:1.37em!important;
    padding-right: 6px;
}

.padding-img-service {

    padding:20px 50px 20px 50px;
}

.padding-img-service img{
 width:100%;
}