.header-sm {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;
}

.bread-sm li a,.bread-sm li  {

    font-size: 0.89em;
    font-weight: 600;
}

.bread-sm {

    padding-left: 117px;
}

/**
STYLE LIBRERIA
*/

.menu-sm ul {

    list-style: none;
    text-transform: uppercase;

}

.menu-sm ul li {

    font-size: 1.1em;

}

.current {

    color: #906E7F;

}

.menu-sm ul li i {

    padding-right: 5px;
}

.sub-menu-service-item a, .sub-menu-service-item span {

    color: #906e7f;
}

.contact-badge-page {

    background: rgb(57, 134, 140);
    padding: 0px 15px 0px 0px;
    border-radius: 22px;
}

.circle-icon {

    color: white;
}

.badge-icon-sm {

    font-size: 0.7em;
}

.step-container-sm {

    flex-direction: column;
}

.step-container-sm div {

   max-width: 100%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    #menu-icon {

        display: inline-block;

    }

    .menu-sm ul {

        position: absolute;
        background: #fff;
        border: 5px solid #906e7f;
        top: 43px;
        width: 60%;
        z-index: 10;
        padding-right: 1px;

    }

    .menu-sm ul li a {

        color: #08010d;
        font-weight: 900;
    }

    .menu-sm li {

        width: 100%;
        padding: 10px 0;
        margin: 0;

    }

    .menu-sm:hover ul {

        display: block;

    }

    .sub-menu-service-item a {

        display: flex;
        flex-direction: row;
        align-items: center;
    }


}
