<div class="header-portfolio clearfix header-sm material-shadow" style="margin-right: -10%;margin-left: -8%;">
    <nav class="menu-sm">

        <button ng-click="openMenu()" class="btn-outline-none"
                style="background: transparent;border:none;color: white;">
            <i class="fa fa-bars" style="font-size: 2em;"></i></button>

        <ul id="menu-sm-ul" ng-show="isMenuOpened">

            <li><a ng-href="{{menuItem.home.linkUrl}}" href="#" class="current"><i class="fa {{menuItem.home.icon}}"></i>{{menuItem.home.title}}</a></li>
            <li><a href="{{menuItem.chisiamo.linkUrl}}"><i class="fa {{menuItem.chisiamo.icon}}"></i>{{menuItem.chisiamo.title}}</a></li>
            <li><a href="{{menuItem.impianti.linkUrl}}"><i class="fa {{menuItem.impianti.icon}}"></i>{{menuItem.impianti.title}}</a></li>
            <li><a href="{{menuItem.costruzioni.linkUrl}}"><i class="fa {{menuItem.costruzioni.icon}}"></i>{{menuItem.costruzioni.title}}</a></li>
            <li><a href="{{menuItem.estimo.linkUrl}}"><i class="fa {{menuItem.estimo.icon}}"></i>{{menuItem.estimo.title}}</a></li>
            <li><a href="{{menuItem.portfolio.linkUrl}}"><i class="fa {{menuItem.portfolio.icon}}"></i>{{menuItem.portfolio.title}}</a></li>
            <li><a href="{{menuItem.contatti.linkUrl}}"><i class="fa {{menuItem.contatti.icon}}"></i>{{menuItem.contatti.title}}</a></li>
            <li><a href="{{menuItem.lavoracon.linkUrl}}"><i class="fa {{menuItem.lavoracon.icon}}"></i> {{menuItem.lavoracon.title}}</a> </li>
        </ul>
    </nav>
    <ul class="breadcrumb bread-sm" >
        <li class="active text-uppercase"><i class="fa {{icon}}" style="padding-right: 7px;font-size:1.5em"></i>{{name}}</li>
    </ul>
</div>

