<header-desktop></header-desktop>
<div class="header-portfolio clearfix">
    <h2 class="pull-left">E</h2>
    <h4 class="pull-left">STIMO & CONSULENZE</h4>
    <ul class="breadcrumb pull-right">
        <li><a class="text-uppercase" href="index.html">Home</a></li>
        <li class="active text-uppercase">Servizi</li>
        <li class="active text-uppercase">Estimo & Consulenze</li>
    </ul>
</div>

<div class="container border-container">
    <div class="col-sm-6">
        <p>Lo Studio ha consolidato esperienza nell'ambito estimativo, spaziando dalle valutazioni di beni immobiliari ad attività
            di supporto per procedure giudiziare quali concordati, fal e smti ed affini.<br>
            Inoltre, è in grado di svolgere servizio CTP e/o CTU.<br>
            E' anche un valido interlocutore per la sicurezza aziendale e gli adempimenti in materia di D.Lgs. n.81/08 e s.m.i.
        </p>
        <ul style="list-style: none">
            <li><i class="fa fa-square list-item"></i>Attività di stima per immobili civili ed industriali</li>
            <li><i class="fa fa-square list-item"></i>Studio ipocatastale/Certificati ventennali</li>
            <li><i class="fa fa-square list-item"></i>Perizie incidenti stradali e settore automotive</li>
            <li><i class="fa fa-square list-item"></i>Perizie sugli immobili</li>
            <li><i class="fa fa-square list-item"></i>Attività di reverse engineering</li>
            <li><i class="fa fa-square list-item"></i>Valutazioni della sicurezza aziendale</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <div class="padding-img-service">
            <img  style="width: 80%" src="assets/img/estimo.jpg">
        </div>

    </div>


</div>