<header-smartphone title="Estimo" icon="{{menuItem.estimo.icon}}"></header-smartphone>

<div class="container border-container">

    <div class="col-sm-6" style="padding-right: 1px;padding-left: 1px;">
        <div class="padding-img-service">
            <img  style="width: 100%" src="assets/img/estimo.jpg">
        </div>

    </div>
    <div class="col-sm-6">
        <p>Lo Studio ha consolidato esperienza nell'ambito estimativo, spaziando dalle valutazioni di beni immobiliari ad attività
            di supporto per procedure giudiziare quali concordati, fal e smti ed affini.<br>
            Inoltre, è in grado di svolgere servizio CTP e/o CTU.<br>
            E' anche un valido interlocutore per la sicurezza aziendale e gli adempimenti in materia di D.Lgs. n.81/08 e s.m.i.
        </p>
        <ul style="list-style: none">
            <li><i class="fa fa-square list-item"></i>Attività di stima per immobili civili ed industriali</li>
            <li><i class="fa fa-square list-item"></i>Studio ipocatastale/Certificati ventennali</li>
            <li><i class="fa fa-square list-item"></i>Perizie incidenti stradali e settore automotive</li>
            <li><i class="fa fa-square list-item"></i>Perizie sugli immobili</li>
            <li><i class="fa fa-square list-item"></i>Attività di reverse engineering</li>
            <li><i class="fa fa-square list-item"></i>Valutazioni della sicurezza aziendale</li>
        </ul>
    </div>

    <div class="badge contact-badge" style="border-top: lightgray solid 1px;align-items: center;padding-top: 3%;">
        <label>
            <span style="font-size: 0.88em;padding-right: 11px;">Via Duca d'Aosta, 172</span>
            <span><i class="fa fa-map-marker"></i>
                    </span>
        </label>
        <label>
            <span style="font-size: 0.88em;padding-right: 11px;">0883.888507</span>
            <span><i class="fa fa-phone"></i></span>
        </label>
        <label><span style="font-size: 0.88em;padding-right: 11px;">info.studioprod@gmail.com</span>
            <span><i class="fa fa-envelope"></i></span>
        </label>

    </div>

</div>