<header-desktop></header-desktop>
<div class="row-img-home">
    <div class="col-sm-12">
        <div id="main-slider" class="flexslider box effect2" style="max-height: none;">
            <ul class="slides" style="height:200px;">
                <li style="height: 100%;width: 100%;">
                    <div style="height: 100%;width:100%;display:flex;flex-direction:column;justify-content:flex-end;background: url('assets/img/flexslider/flex-4.jpg');background-repeat: no-repeat;background-size: cover;">
                        <div style="background: rgba(0,0,0,0.5);color: white;font-size: 1.5em;font-weight: 700;">
                            <p class="flex-caption-text" >
                                <span style="font-size: 0.89em;font-weight: 600;text-align: center;width: 100%; ">L'unica cosa pericolosa è quella di non voler lottare per superarla</span>
                            </p></div>
                    </div>

                </li>
                <li style="height: 100%;">
                    <div style="height: 100%;width:100%;display:flex;flex-direction:column;justify-content:flex-end;background: url('assets/img/flexslider/flex-4.jpg');background-repeat: no-repeat;background-size: cover;">
                        <div style="background: rgba(0,0,0,0.5);color: white;font-size: 1.5em;font-weight: 700;">
                            <p class="flex-caption-text" >
                                <span style="font-size: 0.89em;font-weight: 600;text-align: center;width: 100%; ">L'unica cosa pericolosa è quella di non voler lottare per superarla</span>
                            </p></div>
                    </div>


                </li>
                <li style="height: 100%;">
                    <div style="height: 100%;width:100%;display:flex;flex-direction:column;justify-content:flex-end;background: url('assets/img/flexslider/flex-4.jpg');background-repeat: no-repeat;background-size: cover;">
                        <div style="background: rgba(0,0,0,0.5);color: white;font-size: 1.5em;font-weight: 700;">
                            <p class="flex-caption-text" >
                                <span style="font-size: 0.89em;font-weight: 600;text-align: center;width: 100%;">L'unica cosa pericolosa è quella di non voler lottare per superarla</span>
                            </p></div>
                    </div>


                </li>
            </ul>


        </div>
    </div>
</div>



<div class="row card-list">
    <div>
        <div class="link-container" ng-controller="mainCtrl">

            <div ng-repeat="card in cardsArray" class="card-item material-shadow pointer">

                <a class="card-item" ng-href="{{card.linkUrl}}">
                    <div class="card-container">
                        <div class="card-icon">
                            <i style="font-size: 3em;" class="fa {{card.icon}}"></i>
                        </div>
                        <div class="card-title">{{card.title}}</div>

                    </div>


                </a>


            </div>
            </a>
        </div>


    </div>
</div>