<header>
    <div class="container">
        <div class="row">

            <div class="col-sm-9">
                <img style="height:100px;" class="img-responsive img-logo" src="assets/img/logoFinaleProd.jpg">
            </div>

            <div class="col-sm-3">

                <contact-header></contact-header>

                </p>
            </div>
        </div>
    </div>

    <nav-menu></nav-menu>

</header>

<div class="header-portfolio clearfix">
    <h2 class="pull-left">C</h2>
    <h4 class="pull-left">OSTRUZIONI & DESIGN</h4>
    <ul class="breadcrumb pull-right">
        <li><a class="text-uppercase" href="index.html">Home</a></li>
        <li class="active text-uppercase">Servizi</li>
        <li class="active text-uppercase">Costruzioni & Design</li>
    </ul>
</div>

<div class="container border-container">
    <div class="col-sm-6">
        <p>Attraverso un'analisi dettagliata delle molteplici esigenze della committenza, lo studio è in grado
            di offrire una molteplicità di servizi finalizzati al soddisfacimento delle stesse.
            <br>Infatti lo studio è strutturato in modo da seguire la committenza in tutte le fasi del processo edilizio.<br><br>
            I nostri servizi spaziano dalla nuova costruzione sino alla riqualificazione dell'esistente.
        </p>
        <ul style="list-style: none">
            <li><i class="fa fa-square list-item"></i>Studi di fattibilità progettuale;</li>
            <li><i class="fa fa-square list-item"></i>Progettazione architettonica;</li>
            <li><i class="fa fa-square list-item"></i>Design di interni;</li>
            <li><i class="fa fa-square list-item"></i>Progettazione strutturale;</li>
            <li><i class="fa fa-square list-item"></i>Studi di vulnerabilità sismica degli edifici esistenti;</li>
            <li><i class="fa fa-square list-item"></i>Pratiche edilizie per titoli abilitativi;</li>
            <li><i class="fa fa-square list-item"></i>Direzione dei lavori e contabilità;</li>
            <li><i class="fa fa-square list-item"></i>Coordinamento per la sicurezza in fase di progettazione ed esecuzione;</li>
            <li><i class="fa fa-square list-item"></i>Studi di efficientamento energetico;</li>
            <li><i class="fa fa-square list-item"></i>Bioarchitettura e Protocollo Itaca;</li>
            <li><i class="fa fa-square list-item"></i>Pratiche catastali.</li>

        </ul>
    </div>
    <div class="col-sm-6">
        <div class="padding-img-service">
            <img  src="assets/img/4052649877_4405226994_z.jpg">
        </div>

    </div>


</div>