<header-desktop></header-desktop>

<div class="header-portfolio clearfix">
    <h2 class="pull-left">I</h2>
    <h4 class="pull-left">MPIANTI & AMBIENTE</h4>
    <ul class="breadcrumb pull-right">
        <li><a class="text-uppercase" href="index.html">Home</a></li>
        <li class="active text-uppercase">Servizi</li>
        <li class="active text-uppercase">Impianti & Ambiente</li>
    </ul>
</div>

<div class="container border-container">
    <div class="col-sm-6">
        <p>Lo studio è in grado di offrire supporto per le attività di progettazione termotecnica, di efficientamento energetico,
            ma anche per la prevenzione incendi e le pratiche ambientali, rappresentando un valido interlocutore sia per i
            privati e sia per le imprese del settore.
        </p>
        <ul style="list-style: none">
            <li><i class="fa fa-square list-item"></i>Servizi di Prevenzione Incendi</li>
            <li><i class="fa fa-square list-item"></i>Calcolo fabbisogno energetico (ex Legge n.10/91) secondo D.Lgs. n.192/05 e s.m.i.</li>
            <li><i class="fa fa-square list-item"></i>Dimensionamento impianti idrico/fognanti</li>
            <li><i class="fa fa-square list-item"></i>Dimensionamento impianti di riscaldamento e/o raffrescamento</li>
            <li><i class="fa fa-square list-item"></i>Dimensionamento impianti distribuzione GAS/GPL</li>
            <li><i class="fa fa-square list-item"></i>Pratiche energetiche (APE, Detrazioni fiscali - ENEA)</li>
            <li><i class="fa fa-square list-item"></i>Pratiche per lo smaltimento delle acque meteoriche nel sottosuolo (T.U.A. n.152/2006)</li>
            <li><i class="fa fa-square list-item"></i>Pratiche per le emissioni in atmosfera (T.U.A n.152/2006)</li>

        </ul>
    </div>
    <div class="col-sm-6">
        <div class="padding-img-service">
            <img  style="width: 70%" src="assets/img/aaa.jpg">
        </div>

    </div>


</div>