<header-smartphone title="Impianti" icon="{{menuItem.impianti.icon}}"></header-smartphone>

<div class="container border-container">
    <div class="col-sm-6" style="padding-right: 1px;padding-left: 1px;">
        <div class="padding-img-service">
            <img  style="width:100%" src="assets/img/aaa.jpg">
        </div>

    </div>
    <div class="col-sm-6">
        <p>Lo studio è in grado di offrire supporto per le attività di progettazione termotecnica, di efficientamento energetico,
            ma anche per la prevenzione incendi e le pratiche ambientali, rappresentando un valido interlocutore sia per i
            privati e sia per le imprese del settore.
        </p>
        <ul style="list-style: none">
            <li><i class="fa fa-square list-item"></i>Servizi di Prevenzione Incendi</li>
            <li><i class="fa fa-square list-item"></i>Calcolo fabbisogno energetico (ex Legge n.10/91) secondo D.Lgs. n.192/05 e s.m.i.</li>
            <li><i class="fa fa-square list-item"></i>Dimensionamento impianti idrico/fognanti</li>
            <li><i class="fa fa-square list-item"></i>Dimensionamento impianti di riscaldamento e/o raffrescamento</li>
            <li><i class="fa fa-square list-item"></i>Dimensionamento impianti distribuzione GAS/GPL</li>
            <li><i class="fa fa-square list-item"></i>Pratiche energetiche (APE, Detrazioni fiscali - ENEA)</li>
            <li><i class="fa fa-square list-item"></i>Pratiche per lo smaltimento delle acque meteoriche nel sottosuolo (T.U.A. n.152/2006)</li>
            <li><i class="fa fa-square list-item"></i>Pratiche per le emissioni in atmosfera (T.U.A n.152/2006)</li>

        </ul>
    </div>

    <div class="badge contact-badge" style="border-top: lightgray solid 1px;align-items: center;padding-top: 3%;">
        <label>
            <span style="font-size: 0.88em;padding-right: 11px;">Via Duca d'Aosta, 172</span>
            <span><i class="fa fa-map-marker"></i>
                    </span>
        </label>
        <label>
            <span style="font-size: 0.88em;padding-right: 11px;">0883.888507</span>
            <span><i class="fa fa-phone"></i></span>
        </label>
        <label><span style="font-size: 0.88em;padding-right: 11px;">info.studioprod@gmail.com</span>
            <span><i class="fa fa-envelope"></i></span>
        </label>

    </div>

</div>